var template_datafeed_collapsible = `

<%


item = item['@graph'][0];

%>

				 
				

 <div class="collapsible-header">
<!-- title -->
<% if (item.name) { %>
	<li class="collection-header">
	<span class="badge"><%= item.dataFeedElement.length %></span>
	<%= get_literal(item.name) %>
	</li>
<% } %>

</div>
<div class="collapsible-body">

<ul class="collection">
<!-- data feed items -->

	<% for (var i in item.dataFeedElement) { %>
		<li class="collection-item">
		
		<span class="title">
		<a href="?id=<%= wikidata_uri_to_qid(item.dataFeedElement[i]['@id']) %>">
		
		<%- get_literal(item.dataFeedElement[i].name) %>
		
		</a>
		</span>
		<p>
		<% if (item.dataFeedElement[i].description) { 
			var description = get_literal(item.dataFeedElement[i].description);
			if (description.length > 512) {
				description = description.substring(0, 512)  + '...';
			}
		%>
			<%=  description %>
			<br />
		<% } %>
				
		<!-- date -->
		<% if (item.dataFeedElement[i].datePublished) {%>

			<%= isodate_to_string(item.dataFeedElement[i].datePublished) %>

		<% } %>
		</p>
		
		<!-- identifiers -->
		<div>
		<% if (item.dataFeedElement[i].identifier) {
		
			var properties = [];
			
			if (Array.isArray(item.dataFeedElement[i].identifier)) {
				properties = item.dataFeedElement[i].identifier;
			} else {
				properties.push(item.dataFeedElement[i].identifier);
			}
			
			for (var j in properties) {
			
				 var id = '';
	 
				// DOI
				id = get_property_value(properties[j], 'doi');	  
				if (id != '') {  %>	
					<a class="btn-small blue accent-3" style="text-overflow: ellipsis;word-break: break-all;" href="https://doi.org/<%=id%>" target="_new">
					DOI:
					<%= id %>
					</a>
				<% }
			
				// JSTOR
				id = get_property_value(properties[j], 'jstor');	  
				if (id != '') {  %>	
					JSTOR:
					<a href="https://www.jstor.org/stable/<%=id%>">
					<%= id %>
					</a>
				<% }
				}
			}
		 %>	
		 </div>			


		
		
		</li>
		
	<% } %>
</ul>

 </div>

`;