// Generic template for a thing in Wikidata

var template_periodical = `

<%

if (item['@graph']) {
	item = item['@graph'][0];
}
%>

<div class="row">

	<div class="col s12 m2 hide-on-small-only center-align">
				
			<%
			var thumbnailUrl = "https://via.placeholder.com/80x100/EEEEEE/EEEEEE";
		
			if (item.logo) {
				if (Array.isArray(item.logo)) {
					thumbnailUrl = item.logo[0];
				} else {
					thumbnailUrl = item.logo;
				}
			}
			%>
		
			<img style="background:white;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;" src="http://exeg5le.cloudimg.io/s/height/100/<%- thumbnailUrl %>" >

	</div>

	<div class="col s12 m10">
		
	<!-- headline is item name -->
	<div>
	<b style="font-size:1.5em;">				
		<%- get_literal(item.name) %>	
		<% document.title = get_literal(item.name); %>			
		(<a href="<%- item['@id'] %>" target="_new"><%- wikidata_uri_to_qid(item['@id']) %></a>)
	</b>
	</div>


	<!-- description -->
	<div style="color:grey;">
		<% if (item.description) { %>
			<%- get_literal(item.description) %>
		<% } %>
	</div>
	
	<!-- details --> 
	<% if (item.issn) { %>
		<div>
			<b>ISSN </b> <%= item.issn.join(',') %>
		</div>	
	<% } %>
	
	<% if (item.startDate) { %>
		<div>
			<b>From </b> <%= isodate_to_string(item.startDate) %>
			<% if (item.endDate) { %>
				<b> to </b>  <%= isodate_to_string(item.endDate) %>
			<% } %>
		</div>	
	<% } %>
	
	<% if (item.webFeed) { %>
		<div>
			<!-- RSS -->
			<a href="<%- item.webFeed %>" target="_new"><div class="logo rss"></div></a>
		</div>		
	<% } %>	
	
				

	
	</div>

</div>





`;