var template_person = `

<%

if (item['@graph']) {
	item = item['@graph'][0];
}
%>

<div class="row">

	<div class="col s12 m2 hide-on-small-only center-align">
				
			<%
			var thumbnailUrl = "https://alec-demo.herokuapp.com/images/100x100.png";
		
			if (item.image) {
				if (Array.isArray(item.image)) {
					thumbnailUrl = item.image[0];
				} else {
					thumbnailUrl = item.image;
				}
			}
			%>
		
			<img style="background:white;width:80px;height:100px;object-fit: cover;object-position: 50% 50%;" src="https://aezjkodskr.cloudimg.io/<%- thumbnailUrl %>?height=100" >

	</div>

	<div class="col s12 m10">

		
	<!-- headline is item name -->
	<b style="font-size:1.5em;">				
		<%- get_literal(item.name) %>
		<% document.title = get_literal(item.name); %>				
		(<a href="<%- item['@id'] %>" target="_new"><%- wikidata_uri_to_qid(item['@id']) %></a>)
	</b>


	<!-- description -->
	<div style="color:grey;">
		<% if (item.description) { %>
			<%- get_literal(item.description) %>
		<% } %>
	</div>
	
	<div style="color:grey;">
		<% if (item.birthDate) { %>
			<%- isodate_to_string(item.birthDate) %>
			-
		<% } %>
		<% if (item.deathDate) { %>
			<%- isodate_to_string(item.deathDate) %>
		<% } %>
	</div>
	
	
	<!-- actions -->
	<div class="section" >
	
		<!-- scholia -->
		<a href="https://scholia.toolforge.org/author/<%- wikidata_uri_to_qid(item['@id']) %>" target="_new"><div class="logo scholia"></div></a>
		
		<% if (item.identifier) {
			 var id = '';
	 		%>	
	 
			<% 
			// VIAF
			id = get_property_value(item.identifier, 'viaf');	  
			if (id != '') {  %>
				
				<a href="https://viaf.org/viaf/<%- id %>" target="_new"><div class="logo oclc"></div></a>
			<% } %>		 
			
			<% 
			// ORCID
			id = get_property_value(item.identifier, 'orcid');	  
			if (id != '') {  %>
				
				<a href="https://orcid.org/<%- id %>" target="_new"><div class="logo orcid"></div></a>
			<% } %>	
			
			<% 
			// IPNI
			id = get_property_value(item.identifier, 'ipni_author');	  
			if (id != '') {  %>
				
				<a href="https://www.ipni.org/a/<%- id %>" target="_new"><div class="logo ipni"></div></a>
			<% } %>	

			<% 
			// ZooBank
			id = get_property_value(item.identifier, 'zoobank_author');	  
			if (id != '') {  %>
				
				<a href="http://zoobank.org/Authors/<%- id %>" target="_new"><div class="logo zoobank"></div></a>
			<% } %>	
			
			<% 
			// Bionomia
			id = get_property_value(item.identifier, 'bionomia');	  
			if (id != '') {  %>
				
				<a href="https://bionomia.net/<%- id %>" target="_new"><div class="logo bionomia"></div></a>
			<% } %>		 

			<% 
			// Twitter
			id = get_property_value(item.identifier, 'twitter');	  
			if (id != '') {  %>
				
				<a href="https://twitter.com/<%- id %>" target="_new"><div class="logo twitter"></div></a>
			<% } %>		 

			<% 
			// Flickr
			id = get_property_value(item.identifier, 'flickr');	  
			if (id != '') {  %>
				
				<a href="https://www.flickr.com/photos/<%- id %>" target="_new"><div class="logo flickr"></div></a>
			<% } %>		 
			
			<% 
			// ResearchGate
			id = get_property_value(item.identifier, 'researchgate author');	  
			if (id != '') {  %>
				
				<a href="https://www.researchgate.net/profile/<%- id %>" target="_new"><div class="logo rg"></div></a>
			<% } %>	

			<%
			// persee
			id = get_property_value(item.identifier, 'persee');	  
			if (id != '') {  %>
				
				<a href="https://www.persee.fr/authority/<%- id %>" target="_new"><div class="logo persee"></div></a>
			<% } %>	
			
			
				 
			
			
		<% } %>	
		
	</div>						

	
	</div>

</div>





`;
