var template_search = `

<%


item = item['@graph'][0];

%>

<div class="row">

<div class="col s12">

<!--
<div class="col s12">
<div class="chip">
<%= item.dataFeedElement.length %>

<% 
	var text = '';
switch (item.dataFeedElement.length) {
	case 0:
		text = 'hits';
		break;
		
	case 1:
		text = 'hit';
		break;
		
	default:
		text = 'hits';
		break;
} %>
<%= text %>
</div>
</div>	
-->

<!-- data feed items -->
	<% for (var i in item.dataFeedElement) { %>
		<div class="col s12">
			<div class="mycard z-depth-0">
				<span class="mycard-title">
					<a href="?id=<%= wikidata_uri_to_qid(item.dataFeedElement[i]['@id']) %>">
						<%= get_literal(item.dataFeedElement[i].name) %>
					</a>				
				</span>
				<br />
				<span>
					<%= wikidata_uri_to_qid(item.dataFeedElement[i]['@id']) %>
				</span>
				
				<div class="mycard-details">
			
					<img class="mycard-thumbnail" src="image.php?qid=<%= wikidata_uri_to_qid(item.dataFeedElement[i]['@id']) %>" />
					<p>
					<% if (item.dataFeedElement[i].description) { 
						var description = get_literal(item.dataFeedElement[i].description);
						if (description.length > 512) {
							description = description.substring(0, 512)  + '...';
						}
					%>
						<%=  description %>
					<% } %>
					</p>
				</div>
				<div style="clear:both" /> 				
			</div>
		</div>
		</div>
	
	<% } %>


</div>
</div>



`;