// Generic template for a specimen in Wikidata

var template_specimen = `

<%

if (item['@graph']) {
	item = item['@graph'][0];
}
%>

<div class="row">

	<div class="col s12 m2 hide-on-small-only center-align">
				
			<%
			var thumbnailUrl = "https://via.placeholder.com/100x100/EEEEEE/EEEEEE";
		
			if (item.image) {
				if (Array.isArray(item.image)) {
					thumbnailUrl = item.image[0];
				} else {
					thumbnailUrl = item.image;
				}
			}
			%>
		
			<img style="background:white;width:100%;height:100%;object-fit: cover;object-position: 50% 50%;" src="https://aipbvczbup.cloudimg.io/s/height/100/<%- thumbnailUrl %>" >

	</div>

	<div class="col s12 m10">

		
	<!-- headline is item name -->
	<b style="font-size:1.5em;">				
		<%- get_literal(item.name) %>	
		<% document.title = get_literal(item.name); %>			
		(<a href="<%- item['@id'] %>" target="_new"><%- wikidata_uri_to_qid(item['@id']) %></a>)
	</b>


	<!-- description -->
	<div style="color:grey;">
		<% if (item.description) { %>
			<%- get_literal(item.description) %>
		<% } %>
	</div>
								

	
	</div>

</div>





`;