var template_taxon = `

<%

if (item['@graph']) {
	item = item['@graph'][0];
}
%>

<div class="row">

	<div class="col s12 m2 hide-on-small-only center-align">
				
			<%
			var thumbnailUrl = "https://via.placeholder.com/80x100/EEEEEE/EEEEEE";
		
			if (item.image) {
				if (Array.isArray(item.image)) {
					thumbnailUrl = item.image[0];
				} else {
					thumbnailUrl = item.image;
				}
			}
			%>
		
			<img style="background:white;width:80px;height:100px;object-fit: cover;object-position: 50% 50%;" src="https://aipbvczbup.cloudimg.io/s/height/100/<%- thumbnailUrl %>" >

	</div>

	<div class="col s12 m10">

		
	<!-- headline is item name -->
	<b style="font-size:1.5em;">				
		<%- get_literal(item.name) %>
		<% document.title = get_literal(item.name); %>				
		(<a href="<%- item['@id'] %>" target="_new"><%- wikidata_uri_to_qid(item['@id']) %></a>)
	</b>


	<!-- description -->
	<div style="color:grey;">
		<% if (item.description) { %>
			<%- get_literal(item.description) %>
		<% } %>
	</div>

	
	
	<!-- actions -->
	<div class="section" >
	
	
		<% if (item.identifier) {
			 var id = '';
	 		%>	
	 
				<% 
			// GBIF
			id = get_property_value(item.identifier, 'gbif');	  
			if (id != '') {  %>
				
				<a href="https://www.gbif.org/species/<%- id %>" target="_new" title="GBIF"><div class="logo gbif"></div></a>
			<% } %>				 

			<% 
			// EOL
			id = get_property_value(item.identifier, 'eol');	  
			if (id != '') {  %>
				
				<a href="https://eol.org/pages/<%- id %>" target="_new" title="EOL"><div class="logo eol"></div></a>
			<% } %>				 

			<% 
			// NCBI
			id = get_property_value(item.identifier, 'ncbi');	  
			if (id != '') {  %>
				
				<a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=<%- id %>" target="_new" title="NCBI"><div class="logo ncbi"></div></a>
			<% } %>				 

			<% 
			// WoRMS
			id = get_property_value(item.identifier, 'worms');	  
			if (id != '') {  %>
				
				<a href="https://www.marinespecies.org/aphia.php?p=taxdetails&id=<%- id %>" target="_new" title="WoRMS"><div class="logo worms"></div></a>
			<% } %>				 

			<% 
			// World Spider Catalog 
			id = get_property_value(item.identifier, 'wsc');	  
			if (id != '') {  %>
				
				<a href="http://www.wsc.nmbe.ch/lsid/<%- id %>" target="_new" title="World Spider Catalog"><div class="logo wsc"></div></a>
			<% } %>		
			
			<% 
			// IPNI
			id = get_property_value(item.identifier, 'ipni_name');	  
			if (id != '') {  %>
				
				<a href="https://www.ipni.org/n/<%- id %>" target="_new" title="IPNI"><div class="logo ipni"></div></a>
			<% } %>	

			<% 
			// ZooBank
			id = get_property_value(item.identifier, 'zoobank_name');	  
			if (id != '') {  %>
				
				<a href="http://zoobank.org/NomenclaturalActs/<%- id %>" target="_new" title="ZooBank"><div class="logo zoobank"></div></a>
			<% } %>	

			<% 
			// Fossilworks
			id = get_property_value(item.identifier, 'fossilworks');	  
			if (id != '') {  %>
				
				<a href="http://fossilworks.org/bridge.pl?a=taxonInfo&taxon_no=<%- id %>" target="_new" title="Fossilworks"><div class="logo fossilworks"></div></a>
			<% } %>	

			<% 
			// iNaturalist
			id = get_property_value(item.identifier, 'inaturalist');	  
			if (id != '') {  %>
				
				<a href="https://www.inaturalist.org/taxa/<%- id %>" target="_new" title="iNaturalist"><div class="logo inaturalist"></div></a>
			<% } %>	


			<% 
			// BOLD
			id = get_property_value(item.identifier, 'bold');	  
			if (id != '') {  %>
				
				<a href="https://v4.boldsystems.org/index.php/Taxbrowser_Taxonpage?taxid=<%- id %>" target="_new" title="BOLD"><div class="logo bold"></div></a>
			<% } %>	

			<% 
			// World Flora Online
			id = get_property_value(item.identifier, 'wfo');	  
			if (id != '') {  %>
				
				<a href="http://www.worldfloraonline.org/taxon/<%- id %>" target="_new" title="World Flora Online"><div class="logo wfo"></div></a>
			<% } %>	
			
			
		<% } %>	
		
	</div>						

	
	</div>

</div>

<div class="row">
	<table>
	
	<% if (item.hasMap) { %>
		<tr>
			<th>Key</th>
			<th>Value</th>
		</tr>
		<tr>
			<td>
				Map
			</td>
			<td>
				<img width="360" src="<%= item.hasMap %>">
			</td>
		</tr>
	<% } %>

	</table>
</div>


<div class="row">
	<% if (item.parentTaxon) { 
		var parentTaxon = '';
		if (Array.isArray(item.parentTaxon)) {
			parentTaxon = item.parentTaxon[0];
		} else {
			parentTaxon = item.parentTaxon;
		} %>
		
		<div class="col s12">
		
		<nav class="clean">
			<div class="nav-wrapper">
			 <a class="breadcrumb" href="?id=<%= wikidata_uri_to_qid(parentTaxon['@id']) %>"><%= parentTaxon.scientificName %></a>
		
			 <span class="breadcrumb"><%= item.scientificName %></a></span>
			</div>
		</nav>
	
		</div>


	<% } %>	

</div>





`;