var template_thumbnail_feed = `

<%


item = item['@graph'][0];

%>

<div class="row">

<div class="col s12">	

<!-- title -->
<% if (item.name) { %>
	<div>
	<b>
		<%= get_literal(item.name) %>
		(<%= item.dataFeedElement.length %>)
	</b>
	</div>
<% } %>
	
	
<div>

<!-- sort items by name -->

<%

	function compare_names (i, j) {
		var name_i = get_literal(i.name);
		var name_j = get_literal(j.name);
		
		console.log(i);
		
		if (name_i < name_j) {
			return -1;
		}
		if (name_i > name_j) {
			return 1;
		}
		return 0;	
	}

	console.log('sort');
	item.dataFeedElement.sort(compare_names);




%>




<!-- data feed items -->
	<% for (var i in item.dataFeedElement) { %>
	
		<div class="item">
		
		<a href="<%= wikidata_uri_to_qid(item.dataFeedElement[i]['@id']) %>">

		<span>
			<%= item.dataFeedElement[i].name %>
		</span>
		
			<%
			var thumbnailUrl = "https://alec-demo.herokuapp.com/images/100x100.png";
		
			if (item.dataFeedElement[i].image) {
				if (Array.isArray(item.dataFeedElement[i].image)) {
					thumbnailUrl = item.dataFeedElement[i].image[0];
				} else {
					thumbnailUrl = item.dataFeedElement[i].image;
				}
			}
			%>
		
			<img src="<%- thumbnailUrl %>?height=100" >
		
			</a>
		
		</div>	
	
		
	<% } %>
</ul>

</div>
</div>



`;