var template_work = `

<%

if (item['@graph']) {
	item = item['@graph'][0];
}
%>

<div class="row">

	<div class="col s12 m2 hide-on-small-only center-align">
				
			<%
			var thumbnailUrl = "https://alec-demo.herokuapp.com/images/100x100.png";
			
			if (item.identifier) {
				 var id = '';
	 
				// Internet Archive
				id = get_property_value(item.identifier, 'internetarchive');	  
				if (id != '') { 				
					thumbnailUrl = "//archive.org/download/" + id + "/page/cover_thumb.jpg";
				} 	

				// BHL
				id = get_property_value(item.identifier, 'bhl page');	  
				if (id != '') { 				
					thumbnailUrl = "//www.biodiversitylibrary.org/pagethumb/" + id + ",200,200";
				} 	


			}

			%>
		
			<img class="z-depth-2" style="background:white;width:80px;height:100px;object-fit: cover;object-position: 50% 50%;" src="<%- thumbnailUrl %>?height=100" >

	</div>

	<div class="col s12 m10">
		
	<!-- headline is item name -->
	<b style="font-size:1.5em;">				
		<%- get_literal(item.name) %>
		<% document.title = get_literal(item.name); %>
		(<a href="<%- item['@id'] %>" target="_new"><%- wikidata_uri_to_qid(item['@id']) %></a>)
	</b>

	<!-- authors -->
	<% if (item.author) { %>
		<div class="section">					
		<% for(var i in item.author) { %>
			<div class="chip">
				<% if (item.author[i].identifier && get_property_value(item.author[i].identifier, 'orcid')) { %>
					<img style="vertical-align:baseline" src="images/logos/ORCID-iD_icon-vector.svg">
				<% } %>
				<% if (item.author[i]['@id'].match('wikidata.org/entity/Q')) { %>
					<a href="<%- wikidata_uri_to_qid(item.author[i]['@id']) %>">
				<% } %>
				<%- get_literal(item.author[i].name) %>
				<% if (item.author[i]['@id'].match(/wikidata/)) { %>
					</a>
				<% } %>								
			</div>
		<% } %>
		</div>
	<% } %>
	
	<!-- abstract -->
	<% if (item.abstract) { %>
			<blockquote>					
			<%- get_literal(item.abstract) %>
			</blockquote>
	<% } %>
	

	<!-- publication outlet -->
	<div style="color:grey;">
		<% if (item.isPartOf) { 
		%>
				Published 
		<% if (item.datePublished) {%>
		<%= isodate_to_string(item.datePublished) %>
		<% } %>				
				
				in
				
				<% if (Array.isArray(item.isPartOf)) { 
					for (var k in item.isPartOf ) { %>
						<em>
						<a href="<%= wikidata_uri_to_qid(item.isPartOf[k]['@id']) %>">
						<%- get_literal(item.isPartOf[k].name) %>
						</a>
						</em>
					<%  }
				} else { %>
				
					<em>
					<a href="<%= wikidata_uri_to_qid(item.isPartOf['@id']) %>">
					<%- get_literal(item.isPartOf.name) %>
					</a>
					</em>
				
				<% } %>
				
				
		<% } %>

		<% if (item.volumeNumber) { %>
			<%- item.volumeNumber %>
		<% } %>

		<% if (item.issueNumber) {%>
		(<%= get_literal(item.issueNumber) %>)
		<% } %>	

		<% if (item.pagination) { %>
			pages
			<%- item.pagination %>
		<% } %>

		<% if (item.isbn) { %>
			ISBN			
			<%
			 var isbn = '';
			 if (Array.isArray(item.isbn)) {
			 	isbn = item.isbn.join(', ');
			 } else {
			 	isbn = item.isbn;
			 }	
			 %>		
			<%- isbn %>
		<% } %>

		

	</div>
	
	<!-- metrics -->
	<div class="section" >
		<% 
			var doi = get_property_value(item.identifier, 'doi');
			if (doi) { %>
				<div data-badge-type="donut" data-doi="<%- doi %>" data-hide-no-mentions="true" data-badge-popover="right" class="altmetric-embed"></div>
			<% } %>	
	</div>
	
								
	<!-- actions -->
	<div id="actions" class="section" >
	
		<!--
		<% var fulltext_links = {}; %>
		-->
	
		<% if (item.identifier) {
			 var id = '';
	 		%>	
	 
			
			<% 
			// DOI
			id = get_property_value(item.identifier, 'doi');	  
			if (id != '') {  %>
				<a class="btn-small blue accent-3" href="https://doi.org/<%- id %>" target="_new">DOI:<%- id %></a>
				
				<!--
				<% 
					if (!fulltext_links['doi']) {
						fulltext_links['doi'] = [];
					} 
					fulltext_links['doi'].push('https://doi.org/' + id);
				%>
				-->
				
			<% } %>	
			
			<% 
			// Handle
			id = get_property_value(item.identifier, 'handle');	  
			if (id != '') {  %>
				<a class="btn-small blue accent-3" href="https://hdl.handle.net/<%- id %>" target="_new">HANDLE:<%- id %></a>
				
				<!--
				<% 
					if (!fulltext_links['handle']) {
						fulltext_links['handle'] = [];
					} 
					fulltext_links['handle'].push('https://hdl.handle.net/' + id);
				%>
				-->
				
			<% } %>		
			
			<% 
			// BioStor
			id = get_property_value(item.identifier, 'biostor');	  
			if (id != '') {  %>
				<a class="btn-small blue accent-3" href="https://biostor.org/reference/<%- id %>" target="_new">BIOSTOR:<%- id %></a>
			<% } %>						

			<% 
			// BHL
			id = get_property_value(item.identifier, 'bhl page');	  
			if (id != '') {  %>
				<a class="btn-small blue accent-3" href="https://www.biodiversitylibrary.org/page/<%- id %>" target="_new">BHL:<%- id %></a>

				<% 
					if (!fulltext_links['bhl']) {
						fulltext_links['bhl'] = [];
					} 
					fulltext_links['bhl'].push('https://www.biodiversitylibrary.org/page/' + id);
				%>


			<% } %>	
			
			<% 
			// CiNii NAID
			id = get_property_value(item.identifier, 'naid');	  
			if (id != '') {  %>
				<a class="btn-small blue accent-3" href="https://ci.nii.ac.jp/naid/<%- id %>" target="_new">CINII:<%- id %></a>
			<% } %>						
			
			
			<% 
			// CNKI
			id = get_property_value(item.identifier, 'cnki');	  
			if (id != '') {  %>
				<a class="btn-small blue accent-3" href="http://www.cnki.com.cn/Article/CJFDTOTAL-<%- id %>.htm" target="_new">CNKI:<%- id %></a>

				<!--
				<% 
					if (!fulltext_links['cnki']) {
						fulltext_links['cnki'] = [];
					} 
					// web site
					fulltext_links['cnki'].push('http://www.cnki.com.cn/Article/CJFDTOTAL-' + id + '.htm');

					// not working
					if (!fulltext_links['cnkiapp']) {
						fulltext_links['cnkiapp'] = [];
					} 
					// mobile site with link to app
					fulltext_links['cnkiapp'].push('http://m.cnki.net/cnkiday/appdownzwj.html?type=CJFD&id=' + id);
				%>
				-->

			<% } %>								
				
			
			<% 
			// Internet Archive
			id = get_property_value(item.identifier, 'internetarchive');	  
			if (id != '') {  %>

				<!--
				<% 
					if (!fulltext_links['internetarchive']) {
						fulltext_links['internetarchive'] = [];
					} 
					fulltext_links['internetarchive'].push('https://archive.org/details/' + id);
				%>
				-->

			<% } %>								
			
			<% 
			// JSTOR
			id = get_property_value(item.identifier, 'jstor');	  
			if (id != '') {  %>
				<a class="btn-small blue accent-3" href="https://www.jstor.org/stable/<%- id %>" target="_new">JSTOR:<%- id %></a>

				<!--
				<% 
					if (!fulltext_links['jstor']) {
						fulltext_links['jstor'] = [];
					} 
					fulltext_links['jstor'].push('https://www.jstor.org/stable/' + id);
				%>
				-->


			<% } %>	
			
			<% 
			// PMC
			id = get_property_value(item.identifier, 'pmc');	  
			if (id != '') {  %>
				<a class="btn-small blue accent-3" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC<%- id %>" target="_new">PMCID: PMC<%- id %></a>

				<!--
				<% 
					if (!fulltext_links['pmc']) {
						fulltext_links['pmc'] = [];
					} 
					fulltext_links['pmc'].push('https://www.ncbi.nlm.nih.gov/pmc/articles/PMC' + id);
				%>
				-->


			<% } %>	
			

			<% 
			// PMID
			id = get_property_value(item.identifier, 'pmid');	  
			if (id != '') {  %>
				<a class="btn-small blue accent-3" href="https://www.ncbi.nlm.nih.gov/pubmed/<%- id %>" target="_new">PMID:<%- id %></a>
			<% } %>	
			
			<% 
			// ZOOBANK
			id = get_property_value(item.identifier, 'zoobank_pub');	  
			if (id != '') {  %>
				<a class="btn-small blue accent-3" href="http://zoobank.org/<%- id %>" target="_new">ZOOBANK:<%- id %></a>
			<% } %>			
			
			<% 
			// Google Books
			id = get_property_value(item.identifier, 'google books');	  
			if (id != '') {  %>
				<a class="btn-small blue accent-3" href="https://books.google.com/books?id=<%- id %>" target="_new">Google Books:<%- id %></a>
			<% } %>				
					
					
			<% 
			// AFD publication
			id = get_property_value(item.identifier, 'afd');	  
			if (id != '') {  %>
				<a class="btn-small blue accent-3" href="https://biodiversity.org.au/afd/publication/<%- id %>" target="_new">AFD:<%- id %></a>
			<% } %>				
										

					
			<% 
			// Researchgate publication
			id = get_property_value(item.identifier, 'researchgate publication');	  
			if (id != '') {  %>
				<a class="btn-small blue accent-3" href="https://www.researchgate.net/publication/<%- id %>" target="_new">RG:<%- id %></a>
			<% } %>				
										
	
		
		<% } %>	
				
		<!--
		<% if (item.url) {
			fulltext_links['link'] = [];
			for (var i in item.url) {
				fulltext_links['link'].push(item.url[i]);
			}
		 } %>	
		
		<% if (Object.keys(fulltext_links).length != 0) { %>
			<a class="btn-small blue accent-3" onclick="show_fulltext('<%- encodeURIComponent(JSON.stringify(fulltext_links)).replace(/\'/g, "\\\\'") %>')">Full-text links</a>	
		<% } %>	
		-->			


	
	</div>
	
	<!-- CNKI -->
	<% if (item.identifier) { 
		var id = get_property_value(item.identifier, 'cnki');
		if (id != '') {
	%>
		<div class="section" >
			<img src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=<%= encodeURIComponent('http://m.cnki.net/cnkiday/appdownzwj.html?type=CJFD&id=' + id) %>">				
		</div>
	<% }
	} %>	
	
	
	<!-- PDF -->
	
	<% if (item.encoding) { %>
		<div class="section" >
		<%
		for (var i in item.encoding) {
			if (item.encoding[i].encodingFormat == "application/pdf") { 				
				var proxy_url = '../../pdfproxy.php?url=';	
				var pdf_url = item.encoding[i].contentUrl.replace("/http", "if_/http");
			%>
				<a class="btn blue accent-3" href="pdfjs/web/viewer.html?file=<%- encodeURIComponent(proxy_url + encodeURIComponent(pdf_url)) %>"><i class="material-icons left">picture_as_pdf</i>View</a>
				<!-- <a class="btn blue accent-3" href="<%- item.encoding[i].contentUrl.replace("/http", "if_/http") %>" target="_new"><i class="material-icons left">picture_as_pdf</i>View</a> -->
			<% }		
		} %>
		</div>
	<% } %>	

	
	<!-- Wikis -->
	<div class="section" >
		<!-- scholia -->
		<a href="https://scholia.toolforge.org/work/<%- wikidata_uri_to_qid(item['@id']) %>" target="_new"><div class="logo scholia"></div></a>
	</div>
	
	
	<!-- license -->
	
		<% if (item.license) { %>
			<div class="section" >
		
			<% if (item.license.match("creativecommons.org")) { %>	
			
				<div class="license cc"></div>
				
				<% if (item.license.match("by")) { %>	
					<div class="license by"></div>
				<% } %>	

				<% if (item.license.match("nc")) { %>	
					<div class="license nc"></div>
				<% } %>	
				
				<% if (item.license.match("nd")) { %>	
					<div class="license nd"></div>
				<% } %>					
				
			<% } %>	
			
			</div>	
		<% } %>	
	
	

	<!-- view work -->
	<div class="section">
		<% if (item.identifier) {
			 var id = '';
	 
			// Internet Archive
			id = get_property_value(item.identifier, 'internetarchive');	  
			if (id != '') {  %>	
				<iframe src="//archive.org/embed/<%= id %>" width="100%" height="400" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
			<% }	
			
			if (id == '') {
				id = get_property_value(item.identifier, 'biostor');	  
				if (id != '') {  
					id = 'biostor-' + id; %>					
				<iframe src="//archive.org/embed/<%= id %>" width="100%" height="400" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
			<% } 
			}	
			
			if (id == '') {
				id = get_property_value(item.identifier, 'google books');	  
				if (id != '') { %>	
						
			<% } 	
			}
			
		 } %>	

	</div>
	
	
	<!-- subject(s) -->
	
		<% if (item.about) { %>
			<div class="section">
				<b>Subject(s)</b><br />
		
			<% for (var i in item.about) { %>
				<div class="item">
		
				<a href="<%= wikidata_uri_to_qid(item.about[i]['@id']) %>">

				<span>
					<%= get_literal(item.about[i].name) %>
				</span>
		
					<%
					var thumbnailUrl = "https://alec-demo.herokuapp.com/images/100x100.png";
		
					if (item.about[i].image) {
						if (Array.isArray(item.about[i].image)) {
							thumbnailUrl = item.about[i].image[0];
						} else {
							thumbnailUrl = item.about[i].image;
						}
					}
					%>
		
					<img src="<%- thumbnailUrl %>?height=100" >
		
					</a>
		
				</div>	
			
			
			<% } %>
			</div>
		<% } %>	

	

	
	
	</div>

</div>





`;
